<% include ./partials/header.ejs %>

<div class="login">
  <img src="./images/IG.jpeg" alt="" class="phoneImg" />
  <div class="form-div">
    <form class="w-full" action="/login" method="post">
      <img class="instaLogo" src="./images/instaLogo.png" alt="logo" />
      <input
        type="text"
        class="input"
        placeholder="phone number, username, or email"
        name="username"
        required
      />
      <input
        type="password"
        class="input"
        placeholder="Password"
        name="password"
        required
      />
      <button class="login-btn">Log In</button>
      <p id="or">or</p>
      <a href="#" class="fb-login"
        ><i class="bx bxl-facebook-square"></i>Log in with Facebook</a
      >
    </form>
    <div class="sign-up">
      <p>Don't have an account? <a href="/" class="sign-link">Sign up</a></p>
    </div>
    <div class="get-app">
      <p>Get the app</p>
      <div class="store">
        <img id="play" src="./images/playStore.png" alt="" />
        <img id="microsoft" src="./images/getMicrosoft.png" alt="" />
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer.ejs %>
